.chat-messages {
    margin: 0;
    padding: 0;
    width: calc(85% - 3px);
    position: absolute;
    padding-right: 3px;
    height: calc(100vh - 1.75em - 20px);
    overflow-y: auto;
}

.chat-messages ul {
    list-style-type: none;
    position: relative;
    width: 100%;
}

.chat-messages ul li {
    padding: 5px 10px;
}

.chat-messages ul li:nth-child(odd) {
    background: rgb(187, 187, 187);
}