<div class="chat-navigation container">
    <div>
        <div class="row">
            <ul id="rooms">
                <li id="root"><a href="#root">Root</a></li>
                <li id="room1"><a href="#room1">Room #1</a></li>
                <li id="room2"><a href="#room2">Room #2</a></li>
                <li id="room3"><a href="#room3">Room #3</a></li>
            </ul>
        </div>
        <div class="row">
            <div class="notification column">
                <div id="<div></div>Notification"><button><span id="maillabel">Open Mails:</span><span id="mailcount"> 0</span></button></div>
            </div>
        </div>
    </div>
</div>